{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h3>{{ image.title }}</h3>
        </div>
        <div class="card-body">
            <img src="/static/images/{{ image.id }}.jpg" class="img-fluid rounded" alt="{{ image.title }}" />
        </div>
        <div class="card-footer text-muted">
            RGB image in JPEG format with width {{image.width}} and height {{image.height}}.
        </div>
    </div>
    <a href="{{url_for('index')}}">Back to list of images</a>
</div>


{% endblock %}